*{
  
  font-family: sans-serif;
}

.App {
  text-align: center;
}




.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  border-radius: 55px;
  border-color: white;
}

.left{
     
     background-color: black;
     opacity: 0.63;
     border-radius: 15px;  
     
     display: grid;
     grid-template-rows: 4fr 8fr 4fr;
     
     /* background: url("./images/city.jpg"); */
     background-size: cover;
     
     max-width: 90vw;
     min-width: 50vw;  
     padding: 20px;
}

.right{
  
  background-color: black;
  opacity: 0.63;      
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  max-width: 90vw;
  min-width: 50vw;  
  padding: 20px;
}

.left-upper{
  display: flex;
  justify-content: center;
  align-items: center;
  
  color: white;
}


.left-mid{
 
  padding-right:20px;
  color: white;
  
 display: grid;
 grid-template-columns: 4fr 4fr;

 justify-content: center;
 align-items: center;
  
}

.left-mid-right{
     display: flex;
     justify-content: center;
}
.lleft-mid{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.left-lower{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  
}

.forcast{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-weight: bold;
}



.right-top{
     color: white;
     height: 30%;
     align-self: center;
     text-align: center;
     padding-top: 50px;
     
}





.forecast {
  width: 40%;
  float: left;
  height: 100%;
  
}

.forecast-icon {
  padding: 25px 0;

  /* background: white; */
}

.today-weather h3 {
  text-transform: capitalize;
  font-size: 50px;
  color: #fff;
  width: 80%;
  margin: 0 auto 10px;
  padding-bottom: 10px;
  border-width: thin;
  border-bottom: 1px solid #eee;
}

.today-weather ul li {
  width: 74%;
  margin: 0 auto;
  line-height: 39px;
  border-width: thin;
  border-bottom: 1px solid #777;
  color: #eee;
  font-weight: 600;
  text-align: left;
  padding-left: 20px;
}

.today-weather ul li span {
  float: right;
  padding-right: 10px;
}

.today-weather ul li:nth-child(5) {
  border-bottom: none;
}


.cityHead {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
}
.search-box .img-box {
  background: rgb(255, 255, 255, 0.2);
  border-radius: 50%;
  height: 32px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin-left: 5px;
}
.search-box img {
  width: 60%;
  cursor: pointer;
}
.search-box .search-bar {
  border: none;
  padding: 10px 11px;
  background: transparent;
  color: white;
  border-bottom: 1px solid;
  font-size: 16px;
}
.search-box .search-bar::placeholder {
  color: white;
}
.search-bar:focus {
  outline: none;
  border-bottom: 1px solid gray;
  transition: all 1s ease-in-out;
}
.mb-icon {
  height: 100%;
  position: absolute;
  top: 34%;
  left: 36%;
  z-index: 1;
  display: none;
}
.mb-icon p {
  color: white;
  width: fit-content;
  position: relative;
  left: 24%;
  top: 2%;
  font-size: 25px;
}


@media (max-width:500px){
  .left-mid{
       
   display: grid;
   grid-template-columns: 1fr;
   justify-content: center;
   align-items: center;
  }
  
  .search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    position: relative;
    z-index: 2;
  }
  .img-box{
    margin-top: 10px;
  } 
}
   
    
.right-lower{
       display: grid;
       grid-template-rows: 2fr 5fr;

}    
   
.wi-info p{
       color: white;
       font-size: 25px;
}

.w-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.wi-info{
     padding: 10px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     
}

.hw-info{
     font-weight: bold;
     color: white;
}